{% extends 'base.html'%}

{%block title%} Tags List {% endblock %}

{% block main%}
<div class="container">
<h2>Create a tag</h2>

<form method="POST">
    <label for="tagname"> Name: </label>
    <input type="text" id="tagname" name="name">
    <a href="/tags/new"><button class="btn bg-primary p-2 m-1">Add</button></a>
    <div class="container">
      <p>Add tag to active posts...</p>
        {% for post in posts %}
        <div class="m-1"><input type="checkbox" name="post_keys" value="{{post.id}}">  {{post.title}}</div>
        {% endfor %}
      </div>
</form>

<a href="/tags"><button class="btn bg-info">Cancel</button></a>
</div>
{% endblock %}