{% extends 'base.html' %}
{%block title%} Users Table {% endblock %}

{% block main%}
<table>
    {% for user in users %}

            {% if user.image_url %}
            <td> <img src="{{user.image_url}}"></td>
            {% endif %}
            <td> {{user.id }}</td>
            <td><a href="/users/{{user.id}}"> {{user.first_name}} {{user.last_name}}</a></td>
        </tr>
    {% endfor %}
</table>


    <a href="/users/new"><button>Add User</button></a>
    <a href="/tags/new"><button>Add Tag</button></a>




{% endblock %}